h1{

text-align: center;
color: #000000  ;
}

h2{

    text-align: center;
    color: #000000  ;


}

.main{

    ;background-color: #f4f6f6  ;
    width: 50%;
    height: 500px;
    padding: 5px;
    margin: auto


}














